{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <h2>
    ERROR {$ex->getCode()}
    </h2>
    {$ex->getMessage()} <br>
    <pre>{$ex}</pre>
     
</div>
{include file="template/footer.tpl" title="footer"}